body {
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  margin: 0;
}

header, a, .hero, footer, .signup {
  background-color: #1F2937;
  color: white;
}

/* HEADER */

header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  max-width: 70%;
  padding: 0 300px;
}

header .logo {
  font-size: 24px;
  color: #F9FAF8;
}

header ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

a {
  text-decoration: none;
}

/* HERO */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 200px;
  max-width: 80%;
}

.heroleft {
  max-width: 50%;
  flex: 1 1 0;
  padding: 23px;
}

.heromain, .herosecondary {
  margin: 0;
}

button {
  background-color: #3882F6;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(77, 93, 148);
}

.herobutton {
  padding: 8px 32px;
  margin-top: 8px;
  border: none;
}

.imageplaceholderbox {
  box-sizing: border-box;
  max-width: 50%;
  flex: 1 1 0;
  padding: 50px;
}

.imageplaceholder {
  display: flex;
  justify-content: center;
  background-color: darkgray;
  padding: 50px;
}

.imageplaceholder p {
  align-self: center;
}

.heromain {
  font-size: 48px;
  font-weight: bolder;
}

.herosecondary, header a {
  font-size: 18px;
  color: #E5E7EB;
}

/* CONTAINER */

.container {
  margin: auto;
  width: 60%;
}

.container p {
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  color: #1F2937;
}

.figures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  padding-bottom: 20px;
}

.figures img {
  border: 2px solid #3882F6;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

figure {
  width: 150px;
}

/* QUOTE */

.quote {
  background-color: #E5E7EB;
  font-size: 36px;
  font-style: italic;
  color:#1F2937;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

blockquote {
  max-width: 60%;
  align-self: center;
  padding-top: 50px;
  margin: 0;
}

.quote p {
  align-self: flex-end;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  padding-right: 300px;
  padding-bottom: 50px;
  margin: 0;
  position: relative;
}

/* SIGN-UP */

.signup {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupbox {
  display: flex;
  background-color: #3882F6;
  border-radius: 5px;
  margin: 60px;
  padding: 20px 100px;
}

.signuptext .p1 {
  font-weight: bold;
  font-size: 20px;
}

.signuptext .p2 {
  font-size: 14px;
  padding-right: 40px;
}

.signuptext p {
  margin: 0 40px;
}

.signupbutton {
  border: 2px solid white;
  padding: 8px 32px;
  margin-top: 8px;
}


/* FOOTER */

footer {
  text-align: center;
}